doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Why nobody will love your brand. Ever.

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article
      // (data-bespoke-fx-transition="sides")
      section
        h1 Why nobody will <br>love your brand. <br><br>Ever.

      section.bg.fill.image-stitch


      section
        img(src="images/IMG_20140601_144933.jpg", class="avatar avatar--small")
        br
        br
        h2 Malwina Krupa
        p
          em.verdigris key account manager @ Zaven


      section.bg.fill.image-jackblack
        h1.white hmmm...

      section.bg.fill.image-bale

      section.bg.fit.image-eminem

      section
        h1 #1
        br
        h2 Mr. Spontaneous

      section.bg.fit.image-hobbit

      section.bg.fit.image-napoleon

      section.bg.fit.image-friends

      section.bg.fill.image-badgirl

      section
        h1 #2
        br
        h2 The Satisfier

      section.bg.fit.image-mick

      section.bg.fit.image-brain

      section.bg.fill.image-lustro

      section.bg.fit.image-miley

      // you can be the sweetest peach...
      section.bg.fill.image-lemon

      section.bg.fill.image-unicorn

      section
        h1 #3
        br
        h2 Mr. Scaredy Pants
        h3 (AKA "I'm afraid of decisions")

      section.bg.fit.image-zoey

      section.bg.fill.image-jack

      section.bg.fit.image-april

      section.bg.fill.image-dogblanket

      section
        h1 #4
        br
        h2 ...

      section.bg.fill.image-freddie
        h1.white I want it all!

      section.bg.fill.image-barney

      section.bg.fit.image-sue
        h1.white YAY ads!

      section.bg.fill.image-logocream

      section.bg.fit.image-ariel

      section.bg.fit.image-bye

      section
        p
          i.fa.fa-envelope-o.fa-2x.verdigris
        p malwina@zaven.pl



    // build:js scripts/scripts.js
    script(src='bower_components/modernizr/modernizr.js')
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild